.profile-image {
    border: solid 5px #fff;
    border-radius: 150px;
    width: 290px;
    height: 290px;
    overflow: hidden;
    margin: 30px auto 0px auto;
    position: relative;
    z-index: 10;
}
.profile-image img {
    width: 290px;
    height: 290px;
}
.main {
    padding-bottom: 1px;
}
.main.no-profile .title {
    padding-top: 20px;
}

.main .details-table li, .vcard-collapse-item {
	line-height: 90px;
	padding:0px;
}
.logo {padding:0;}
.vcard-collapse-item__contentOuter,.vcard-collapse-item__trigger{
	padding: 0 3%;
}
.vcard-collapse-item__contentOuter{
	border-top: 1px solid #ddd;
}

.vcard-collapse-item__contentInner{
	padding: 30px 0;
	margin-top: 2px;
}
.main .details-table li {
	border-top: 3px solid #ebebeb;
	border-bottom: none;
}
.vcard-collapse-item {
    border: 1px solid #d5d6d6;
    font-size: 26px;
    background: transparent;
	color: #313336;
	margin-bottom: 20px;

}
.vcard-collapse-item .ico-wrap {text-align: left; width: 50px;}
.details-table li .value {float:left;}
.details-table li#email .value, .details-table li#website .value {
	text-overflow: ellipsis;
	overflow: hidden;
	direction: ltr;
	white-space: nowrap;
}
.details-table li#email .value {max-width: 622px;}
.details-table li#website .value {max-width: 622px;}

.details-table li:after {clear:both;content: "";display: block;height:1px;}
.details-table li .fa {vertical-align: middle;}
.ico-wrap {display: inline-block;text-align: center;width: 80px;float: left;}
.details-link .ico-wrap {float: none;}
.details-table svg, .vcard-collapse-item svg {vertical-align: middle;}
.main .details-table li a {color: #259fdd;}
.details-table li .label, .details-table li .value {padding-left: 28px;font-size: 34px;font-weight: 600;position: relative;top:6px;}
.acc-label {
    padding-left: 28px;
    font-weight: 600;
    font-size: 32px;
}
#mobile_phone .ico-wrap {position: relative;left: 0px;top:2px;}
.two-lines #mobile_phone .ico-wrap {left: 26px;}
#fax-label {font-size: 38px;font-weight: bold;color: #231f20;line-height: 110px;position: relative;top: 6px;float: right;}
#fax-label #l1 {letter-spacing: 4px;}
#fax-label #l2 {letter-spacing: 4px;}
#fax-label #l3 {letter-spacing: 4px;}

.details-table li#fax a {display: inline-block;}

#address .label {
	width: 650px;
	line-height: 42px;
	display: inline-block;
	padding-top: 24px;
	text-align: left;
	padding-left: 40px;
	padding-top: 30px;
}
#address.has-gps .label {
	width: 446px;
	padding-left: 28px;
}

/* Details Icons Position Fixes */
#address svg {position: relative;right: -10px;}
.share svg {position: relative;left: 6px;top:-6px;}
.share .vcard-collapse-item__contentInner .fa {font-size: 65px;}
.social-icons .fa {font-size: 63px;}
.vcard-collapse-item .vcard-collapse-item__trigger:after {font-size: 120%;top: 32px;right: 6%;}
.details-table li#sms_with_wp .fa {padding-left: 1.3%;}

/* Contact Form */
.leads.vcard-collapse-item .fa {padding-left: 18px;font-size: 42px;padding-right: 9px; position: relative;top: 2px;}
.card-actions .leads.vcard-collapse-item .fa {
    width: auto;
    font-size: 140%;
    position: relative;
    padding-left: 10px;
    padding-right: 2px;
}

.rtl .details-table li .label, .rtl .details-table li .value {padding-left:0;padding-right: 28px;}
.rtl .two-lines #mobile_phone .ico-wrap {left:inherit;right: 26px;}
.rtl #mobile_phone .ico-wrap {left:inherit;right:0px;}
.rtl .details-table li .value {float: none;}
.rtl .share .vcard-collapse-item__contentInner .share-item {padding-right: 2.5%;padding-left: 2.5%;}
.rtl .acc-label {padding-left:0;padding-right: 28px;}
.rtl #address .label {text-align: right; padding-right: 42px;}
.rtl #address.has-gps .label {padding-right: 28px;}
.rtl #address svg {left:inherit;right: -10px;}
.rtl .share svg {right: -8px;}
.rtl .details-table li .value {float:right;}
.rtl .details-table li a.waze-social {float:left;}
.rtl .leads.vcard-collapse-item .fa {padding-right: 17px; padding-left: 10px;}
.rtl .card-actions .leads.vcard-collapse-item .fa {padding-left:2px;padding-right: 10px;}
.rtl .details-table li#sms_with_wp .fa {padding-right: 1%;}
.rtl .details-table li#address #address-2 {padding-right: 0;}
/*WEBTECH STYLE*/
.profile-wrap .hero {
    /*max-height: 330px;*/
    overflow: hidden;
    clear: both;
}

.profile-wrap .profile-image {
    width: 190px;
    height: 190px;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    border: none;
    margin: 0;
}

.no-profile .profile-image {
    display: none;
}

.description svg {
    margin: 0;
    margin-right: 7px;
    color: #ffab00;
    width: 20px;
    position: relative;
    top: 2px;
}
.profile-wrap .profile-image img {
    max-width: 100%;
    height: 100%;
}
body .details-table{
	clear: both;
}
.profile-wrap .profile-image{
	float: left;
}
.profile-wrap .title{
	float: left;
	text-align: left;
	padding: 30px 4% 28px 4%;
	position: relative;
    width: 480px;
}

.no-profile .profile-wrap .title {
    width: 650px;
}
.profile-wrap .title.shrink h1 {
    font-size: 48px;
    line-height: 56px;
}
.profile-wrap .title.two-lines {
    padding-top: 23px;
    padding-bottom: 10px;
}
body .main .description{
	font-size: 27px;
}
body .main .title h1 {font-weight: normal;}
body .title h1,body .description,.main,.details-link li a,body #accordion1{
	font-family: 'Open Sans', sans-serif;
}

.personal-link li a, .personal-link li > div {
    font-family: 'Assistant', sans-serif;
}
.details-link ,.personal-link {
    list-style-type: none;
    display: inline-block;
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 50px 0 0;
    text-align: center;
}

.details-link li {
    display: inline-block;
    padding: 0 0 70px;
    width: 23.5%;
    vertical-align: top;
}
.details-link li.medium {padding-bottom: 40px;}
.details-link li.large {padding-bottom: 15px;}

 .details-link li a,.personal-link li a,.personal-link li > div{
	color: #000;
    display: block;

}
.details-link li a img{

    margin-bottom: 18px;

}
.details-link li a p,.personal-link li a p, .details-link li > div p{
	font-size: 24px;
}

.resources {
    float: left;
    height: 60px;
    width: 60px;
    padding-top: 15px;
}

.sharecircle {
    position: absolute;
    right: -105px;
    top: 30px;
}
.sharecircle.two-lines {
    top: 46px;
}

.sharecircle a {
    background:#ffab00; border-radius:75px; display: inline-block; padding: 29px 33px 23px 27px; color: #fff;
}

.sharecircle svg {width: 52px;}

.personal-link li {
    display: inline-block;
    width: 49%;
}
.personal-link li a, .personal-link li > div {
    display: inline-block;
    width: 88%;
    text-align: left;
    padding: 20px;
    border: 1px solid #d5d6d6;
    border-radius: 8px;
    margin-bottom: 20px;
}

.personal-link {

    border: none;
    padding: 0;

}

.vcard-collapse-item svg {width: 36px;}
.vcard-collapse-item .accordion-toggle[aria-expanded="true"] svg {color:#ffab00;}

body .about .vcard-collapse-item__contentInner{
	font-size: 32px;
	line-height: normal;
}
body #accordion1{
    padding: 0 30px;
    width: 99.8%;
}
body .lead_form input, body .lead_form textarea,
.vcard-collapse-item__trigger {
    border: 1px solid #eee;
}

.social-icons a,.social-icons a{
	font-size: 55px;
}

svg#whatsapp {overflow: visible;}

.alternative-social-display .fa {font-size: 72px;display: block;
    width: 80px;margin: auto; height: 80px;line-height: 65px;}
.alternative-social-display .titleres {opacity: 0.9;    position: relative;    top: 14px;}
.alternative-social-display .label {font-size: 24px; font-weight: normal;}

.positioned{
	font-size: 100%;
	top: 32px;
	right: 6%;
	position: absolute;
}
.share-inline {
    margin: 30px 0 50px;
}
.share-inline a {
    margin: 5px;
}

.titleres {
    color: #585b5e;
}
.cta-text-small.blue{
	color: #3598fe;
}
.personal-link.tech-link li a, .personal-link li>div {
    background: #fff;
    box-shadow: 0px 5px 20px 5px #eee;
    border-radius: 20px;
    border: none;
}

.techup{

    background: #fff;
    margin-top: -30px;
    z-index: 99;
    border-radius: 30px;
    display: inline-block;
    width: 100%;

}
.col-1,.col-2 {
	clear: both;
}

.share-3 {
    position: absolute;
    right: 10%;
    bottom: 60px;
}
.indexing{

    position: relative;
    z-index: -1;

}
.titleres {
    margin: 0;
}
.alternative-social-display {
    display: inline;
}
.footer {
    border-top: none;
}
.follow-us {
    font-size: 24px;
    margin-bottom: 20px;
}

@media(max-width: 600px){
	.social-icons a, .social-icons a {
	    font-size: 20px;
	}
	.social-icons{
		padding-top: 0;
	}
	.socials{
		padding:20px 4%;
	}
}
/*WEBTECH STYLE END*/

@media(min-width: 801px) {
    #accordion1 {padding-right: 0;padding-left: 0;}
    .card-actions .vcard-collapse-item {border-color: #eee;}
    .card-actions .vcard-collapse-item .vcard-collapse-item__trigger {width: 100%; margin:0;padding:0;padding-left: 3%;}
    .rtl .card-actions .vcard-collapse-item .vcard-collapse-item__trigger {width: 100%; margin:0;padding:0;padding-left: 0;padding-right: 3%;}
    .card-actions .vcard-collapse-item {margin-bottom: 6px;}
    .acc-label {font-size: 18px;padding-left: 10px;}
    .rtl .acc-label  {padding-right: 10px;}
    .card-actions .vcard-collapse-item svg {width: 54%;}

    .vcard-action-item .acc-label:before {
        padding-right: 11px;
        text-align: center;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 21px;
        position: relative;
        top: 2px;
    }   
    .vcf.vcard-action-item .acc-label:before {content: "\f2bc";}
    .share.vcard-action-item .acc-label:before {content: "\f1e0";}
    .vcard-action-item .acc-label {font-size: 16px;}
    body #accordion1{padding:0;width: 100%;}
}

.rtl .description svg {margin-right: 0; margin-left: 7px;}
.rtl .vcard-collapse-item .ico-wrap {text-align: right; float: right;}
.rtl .profile-wrap .profile-image {float: right;}
.rtl .profile-wrap .title {float: right;text-align: right;}
.rtl .sharecircle {right: inherit; left: -105px;}
